<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
                <div class="content">
                    <div class="right-col">
                        <h1>TOAST<br>SQUARE</h1>
                    </div>
                </div>   
            </div>
        </div>
    </body>
</html>